:root {
    --maincolor: #DDDDDD;
    --secondarycolor: lightblue;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    position: absolute;
    width: 100%;
    height: 5rem;
    top: 0;
    left: 0;
    background: var(--maincolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    padding: 0px 12px 0px 48px;
    background: var(--secondarycolor);
    height: 3rem;
    display: flex;
    align-items: center;
}

.header-right {
    padding-right: 24px;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline;
    padding: 12px
}

header ul li a {
    text-decoration: none;
    color: black;
}

.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/portfolio-image.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 12px 12px;
}

.hero h2 {
    background: var(--secondarycolor);
    padding: 12px
}

.about-me {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me-title {
    border-right: 1px solid black;
    padding-right: 24px;
    word-wrap: normal;
    width: 10%;
    text-align: right;
}

.about-me-text {
    width: 60%;
    word-wrap: normal;
    margin-left: 24px
}

.work {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-title {
    border-right: 1px solid black;
    padding-right: 24px;
    word-wrap: normal;
    width: 10%;
    text-align: right;
}

.work-tiles {
    width: 60%;
    margin-left: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-tile {
    width: 100%;
    height: 200px;
    background: var(--maincolor);
    border: 4px solid var(--secondarycolor);
    display: flex;
    align-items:flex-end;
    padding: 10px 0px;
    margin: 12px 0px;
}

#tile-title {
    background: var(--secondarycolor);
}

.sub-tile {
    width: 50%;
    height: 100px;
    background: var(--maincolor);
    border: 4px solid var(--secondarycolor);
    display: flex;
    align-items:flex-end;
    padding: 10px 0px;
    margin: 12px 0px;
}