:root {
    --maincolor: #DDDDDD;
    --secondarycolor: lightblue;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: absolute;
    width: 100%;
    height: 5rem;
    top: 0;
    left: 0;
    background: var(--maincolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    padding: 0px 12px 0px 48px;
    background: var(--secondarycolor);
    height: 3rem;
    display: flex;
    align-items: center;
}

.header-right {
    padding-right: 24px;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline;
    padding: 12px
}

header ul li a {
    text-decoration: none;
    color: black;
}

.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/portfolio-image.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 12px 12px;
}

.hero h2 {
    background: var(--secondarycolor);
    padding: 12px
}

#about-me {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me-title {
    margin-right: 24px;
    word-wrap: normal;
    width: 10%;
    text-align: right;
}

.about-me-text {
    width: 60%;
    word-wrap: normal;
    margin-left: 24px;
    border-left: 1px solid black;
    padding-left: 24px;
}

.about-me-h5 {
    margin: 12px 0px;
}

#work {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-title {
    margin-right: 24px;
    word-wrap: normal;
    width: 10%;
    text-align: right;
}

.work-tiles {
    border-left: 1px solid black;
    padding-left: 24px;
    width: 60%;
    margin-left: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-tiles a {
    text-decoration: none;
    color: black;
}

.main-tile {
    width: 100%;
    height: 200px;
    background-image: url("../images/tile-background.jpeg");
    border: 4px solid var(--secondarycolor);
    display: flex;
    align-items:flex-end;
    padding: 10px 0px;
    margin: 12px 0px;
}

#tile-title {
    background: var(--secondarycolor);
}

.sub-tile {
    /* flex: 1 0 50%; */
    width: 48.5%;
    height: 100px;
    background-image: url("../images/tile-background.jpeg");
    border: 4px solid var(--secondarycolor);
    display: flex;
    align-items:flex-end;
    padding: 10px 0px;
    margin: 12px 0px;
}

#contact-me {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-me-title {
    margin-right: 24px;
    word-wrap: normal;
    width: 15%;
    text-align: right;
}

.contact-me-text {
    border-left: 1px solid black;
    width: 65%;
    word-wrap: normal;
    margin-left: 24px;
    display: flex;
    justify-content: space-evenly;
    line-height: 5;
}

#contact-me ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#contact-me ul li a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 768px) {
    .header-left {
        height: 4em;
    }

    .header-left h1 {
      font-size: 12px;
    }

    .header-right nav{
        font-size: 8px;
    }

    #about-me {
        margin-top: 72px;
    }

    .about-me-title {
        font-size: 12px;
    }

    #work {
        margin-top: 72px;
    }

    .work-title {
        font-size: 12px;
    }

    .contact-me-title {
        font-size: 12px;
    }

    #contact-me ul {
        display: block;
        line-height: 1.5;
        text-align: center;
    }

    #tile-title h3 {
        font-size: 12px;
    }

    #tile-title h6 {
        font-size: 8px;
    }
  }